Implement OPTIONS

See the discussion here :  https://github.com/jeff-zucker/solid-auth-cli/issues/2

@Otto-AA  wrote in another thread : 

It's resource specific and should always be returned if 405 is returned, not only for OPTIONS (e.g. if someone tries to POST an acl resource, the server must return the ALLOW header for this specific resource). Here's the complete 405 spec:

6.5.5. 405 Method Not Allowed

The 405 (Method Not Allowed) status code indicates that the method
received in the request-line is known by the origin server but not
supported by the target resource. The origin server MUST generate an
Allow header field in a 405 response containing a list of the target
resource's currently supported methods.

A 405 response is cacheable by default; i.e., unless otherwise
indicated by the method definition or explicit cache controls (see
Section 4.2.2 of [RFC7234]).

So if I'm understanding correctly, the Allow header should normally send all modes that the server can handle (for solid-rest GET, PUT, POST,  DELETE, HEAD and eventually OPTIONS and hopefully PATCH) but when a 405 is generated, the Allow header should only send those methods supported on that target resource.  What about a HEAD request on an aux resource - should it include POST in the Allow header?

Not exactly. Allow is always for the target resource, not for the server in general:
[7.4.1.  Allow](https://tools.ietf.org/html/rfc7231#section-7.4.1)
>   The "Allow" header field lists the set of methods advertised as
   supported by the target resource.  The purpose of this field is
   strictly to inform the recipient of valid request methods associated
   with the resource.
[...]
   The actual set of allowed methods is defined by the origin server at
   the time of each request.  An origin server MUST generate an Allow
   field in a 405 (Method Not Allowed) response and MAY do so in any
   other response.
[...]

So if we only send  an allow header when a 405 is issued but not in any other case, we are doing what the spec says we MUST and not doing what the spec says we MAY.  So it would be a valid choice.  Do I have that right?

Related : in the scenario above, we would not send an allow header for a 409 on delete container or a 403 on read private resource even given that those disallow methods on specific targets because the method is available for that target, just not in those circumstances?

> So if we only send an allow header when a 405 is issued but not in any other case, we are doing what the spec says we MUST and not doing what the spec says we MAY. So it would be a valid choice. Do I have that right?

Yes, afaik we *must* add the Allow header for 405 responses, and we *may* add it for all others. Though I would recommend it to add it for all. Also I'm not sure if it's also a *must* for other scenarios apart from 405.

> Related : in the scenario above, we would not send an allow header for a 409 on delete container or a 403 on read private resource even given that those disallow methods on specific targets because the method is available for that target, just not in those circumstances?

Yes, I think so.